body {
	background-color: #F7F7F7;
}

nav {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 1;
	background-color: #585858;
	border-bottom: 2px solid  #2EBC99;
}

footer {
	position: absolute;
    background-color: #333;
    color: white;
    font-family: Sans-serif;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 30px;
}


.menu{
	font: 95% Arial, Helvetica, sans-serif;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu li {
	float: left;
	width: 140px;
	text-align: center;
	background-color: #333;
	font-size: 18px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	height: 22px;
	padding: 13px 0 13px 0;
	cursor: pointer;
	color: white;
}

.menu li:hover {
	color: #2EBC99;
}

#page-content > div {
	display: none;
	margin-top: 46px;
}

#register-page, #login-page {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
#register-page h1, #login-page h1{
    background: #43D1AF;
    padding: 10px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
	margin: -16px -16px 16px -16px;
}

#register-page input[type="date"],
#register-page input[type="datetime"],
#register-page input[type="email"],
#register-page input[type="number"],
#register-page input[type="password"],
#register-page input[type="search"],
#register-page input[type="text"],
#register-page input[type="time"],
#register-page input[type="url"],
#register-page textarea,
#register-page select,
#login-page input[type="date"],
#login-page input[type="datetime"],
#login-page input[type="email"],
#login-page input[type="number"],
#login-page input[type="password"],
#login-page input[type="search"],
#login-page input[type="text"],
#login-page input[type="time"],
#login-page input[type="url"],
#login-page textarea,
#login-page select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

#register-page input[type="date"]:focus,
#register-page input[type="datetime"]:focus,
#register-page input[type="email"]:focus,
#register-page input[type="number"]:focus,
#register-page input[type="password"]:focus,
#register-page input[type="search"]:focus,
#register-page input[type="text"]:focus,
#register-page input[type="time"]:focus,
#register-page input[type="url"]:focus,
#register-page textarea:focus,
#register-page select:focus,
#login-page input[type="date"]:focus,
#login-page input[type="datetime"]:focus,
#login-page input[type="email"]:focus,
#login-page input[type="number"]:focus,
#login-page input[type="password"]:focus,
#login-page input[type="search"]:focus,
#login-page input[type="text"]:focus,
#login-page input[type="time"]:focus,
#login-page input[type="url"]:focus,
#login-page textarea:focus,
#login-page select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

#register-page input[type="submit"],
#register-page input[type="button"],
#login-page input[type="submit"],
#login-page input[type="button"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
#register-page input[type="submit"]:hover,
#register-page input[type="button"]:hover,
#login-page input[type="submit"]:hover,
#login-page input[type="button"]:hover
{
    background: #2EBC99;
}


.opening{
	color: gray;
	text-align: center;
	front-size: 150%;
	front-family: Lucida Sans Unicode;
}		

.about-page{		
	color: black;
	text-align: inherit; 
	front-family: courier; 
}
/*<!-- course page style-->

#course-page{
	
	background-image: url("conU.jpg");
}*/
.btn {
    background-color: #2EBC99;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
	float:left;
}

.content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content a:hover {background-color: #f1f1f1}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover .btn {
    background-color: gray;
	color: #2EBC99; 
}