.crossfade{
    padding:200px;
}

nav{
  z-index:1;
}

.crossfade > figure {

  animation: imageAnimation 30s linear infinite 0s;

  backface-visibility: hidden;

  background-size: cover;

  background-position: center center;

  color: transparent;

  height: 100%;

  left: 0px;

  opacity: 0;

  position: absolute;

  top: 0px;

  width: 100%;

  z-index: 0;

}

.crossfade > figure:nth-child(1) { background-image: url('../pictures/website1.jpg'); }


.crossfade > figure:nth-child(2) {

  animation-delay: 6s;

  background-image: url('../pictures/website2.jpg');

}
 
.crossfade > figure:nth-child(3) {

  animation-delay: 12s;

  background-image: url('../pictures/website3.jpg');

}


.crossfade > figure:nth-child(4) {

  animation-delay: 18s;

  background-image: url('../pictures/website4.jpg');

}
 
.crossfade > figure:nth-child(5) {

  animation-delay: 24s;

  background-image: url('../pictures/website6.jpg');

}

@keyframes

imageAnimation {  0% {

 animation-timing-function: ease-in;

 opacity: 0;

}

 8% {

 animation-timing-function: ease-out;

 opacity: 1;

}

 17% {

 opacity: 1

}

 25% {

 opacity: 0

}

 100% {

 opacity: 0

}

}

button a{
  color:white;
}

button a:hover{
  text-decoration:none;
  color:#000;
}

.panel {
    border: 1px solid #f4511e; 
    border-radius:0;
    transition: box-shadow 0.5s;
	
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: black;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel .btn {
    margin: 10px 0;
    background-color: #f4511e;
    color: #fff;
}

.col-sm-12 .glyphicon{
  font-size:100px;
}

.col-sm-4 .glyphicon{
  font-size:100px;
  color: #f4511e;
}

.panel-body .glyphicon{
    font-size:20px;

}

.glyphicon.glyphicon-plus {
  font-size:70px;
}

.glyphicon.glyphicon-retweet {
  font-size:70px;
}

.glyphicon.glyphicon-remove {
  font-size:70px;
}

.glyphicon.glyphicon-briefcase{
	font-size:70px;
}

.row{
  color:#f4511e;
}

.col-sm-12> .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 20px 25px;
      font-family: Montserrat, sans-serif;
  }
