.uploads {
	background-color: #BABAF8;
	color: white;
	padding: 0;
}



.uploadForm {
	border-style: groove;
	background-color: #f7f7f7;
	border-radius: 5px 40px;
	margin: auto;
	width: 50%;
	
}

.uploadTable{
	margin: 20px;
	
	
}

.uploadButton{
	margin: 0 0 0 50px;
	border-radius: 5px;
	background-color:white;
}
.fileInput{
	background-color: white;
	border-radius: 5px;
	margin: 0 0 5px 0;
	
}
.fileUploads{
	max-height: 600px;
	
	
	
}

.container-fluid {
	margin: auto;
}



.col-sm-6 .glyphicon{
padding-top: 50px;
  font-size:75px;
  color:  gi-4x;
}

.panel {
    border: 1px solid #f4511e; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
    color: #fff !important;
    background-color:  #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



nav{
  z-index:1;
}


.row{
  color:#f4511e;
}

.col-sm-12> .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 20px 25px;
      font-family: Montserrat, sans-serif;
  }

.gi-4x{font-size: 4em;}