.uploads {
	background-color: #BABAF8;
	color: white;
	padding: 0;
}



.uploadForm {
	border-style: groove;
	background-color: #f7f7f7;
	border-radius: 5px 40px;
	margin: auto;
	width: 50%;
	
}

.uploadTable{
	margin: 20px;
	
	
}

.uploadButton{
	margin: 0 0 0 50px;
	border-radius: 5px;
	background-color:#808080;
}
.fileInput{
	background-color: #30C29E;
	border-radius: 5px;
	margin: 0 0 5px 0;
	
}
.fileUploads{
	max-height: 600px;
	
	
	
}

.container-fluid {
	margin: auto;
}

