.crossfade{
    padding:200px;
}

.crossfade > figure {

  animation: imageAnimation 30s linear infinite 0s;

  backface-visibility: hidden;

  background-size: cover;

  background-position: center center;

  color: transparent;

  height: 100%;

  left: 0px;

  opacity: 0;

  position: absolute;

  top: 0px;

  width: 100%;

  z-index: 0;

}

.crossfade > figure:nth-child(1) { background-image: url('../pictures/website1.jpg'); }


.crossfade > figure:nth-child(2) {

  animation-delay: 6s;

  background-image: url('../pictures/website2.jpg');

}
 
.crossfade > figure:nth-child(3) {

  animation-delay: 12s;

  background-image: url('../pictures/website3.jpg');

}


.crossfade > figure:nth-child(4) {

  animation-delay: 18s;

  background-image: url('../pictures/website4.jpg');

}
 
.crossfade > figure:nth-child(5) {

  animation-delay: 24s;

  background-image: url('../pictures/website6.jpg');

}

@keyframes

imageAnimation {  0% {

 animation-timing-function: ease-in;

 opacity: 0;

}

 8% {

 animation-timing-function: ease-out;

 opacity: 1;

}

 17% {

 opacity: 1

}

 25% {

 opacity: 0

}

 100% {

 opacity: 0

}

}

.uploads {
	background-color: #BABAF8;
	color: white;
	padding: 0;
}



.uploadForm {
	border-style: groove;
	background-color: #f7f7f7;
	border-radius: 5px 40px;
	margin: auto;
	width: 50%;
	
}

.uploadTable{
	margin: 20px;
	
	
}

.uploadButton{
	margin: 0 0 0 50px;
	border-radius: 5px;
	background-color:white;
}
.fileInput{
	background-color: white;
	border-radius: 5px;
	margin: 0 0 5px 0;
	
}
.fileUploads{
	max-height: 600px;
	
	
	
}

.container-fluid {
	margin: auto;
}



.col-sm-6 .glyphicon{
padding-top: 50px;
  font-size:75px;
  color:  gi-4x;
}

.panel {
    border: 1px solid #f4511e; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
    color: #fff !important;
    background-color:  #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



nav{
  z-index:1;
}


.row{
  color:#f4511e;
}

.col-sm-12> .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 20px 25px;
      font-family: Montserrat, sans-serif;
      margin: 0px -15px 0px -15px;
  }

.gi-4x{font-size: 4em;}